<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v3.12.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="lgtm/assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="lgtm/assets/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="lgtm/assets/et-line-font-plugin/style.css">
  <link rel="stylesheet" href="lgtm/assets/tether/tether.min.css">
  <link rel="stylesheet" href="lgtm/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="lgtm/assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="lgtm/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="lgtm/assets/theme/css/style.css">
  <link rel="stylesheet" href="lgtm/assets/mobirise-gallery/style.css">
  <link rel="stylesheet" href="lgtm/assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="lgtm/css/style.css">
  
  
  
</head>
<body>
<section id="ext_menu-7">

    <nav class="navbar navbar-dropdown navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="https://mobirise.com" class="navbar-logo"><img src="lgtm/assets/images/logo.png" alt="Mobirise"></a>
                        <a class="navbar-caption" href="index.html">LGTM</a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="https://mobirise.com/">OVERVIEW</a></li><li class="nav-item dropdown open"><a class="nav-link link" href="/upload" aria-expanded="false">UPLOAD</a></li><li class="nav-item"><a class="nav-link link" href="https://mobirise.com/">HELP</a></li></ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>

<section class="engine"><a rel="external" href="https://mobirise.com">Website Maker</a></section><section class="mbr-gallery mbr-section mbr-section-nopadding mbr-slider-carousel mbr-after-navbar" id="gallery3-8" data-filter="false" style="background-color: rgb(239, 239, 239); padding-top: 6rem; padding-bottom: 1.5rem;">
    <!-- Filter -->
    

    <!-- Gallery -->
    <div class="mbr-gallery-row container">
        <div class=" mbr-gallery-layout-default">
            <div>
                <div>
                    <% @thumb_files.each do |thumb_file| %>
                        <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-video-url="false">
                            <div href="#lb-gallery3-8" data-toggle="modal" class="image">
                                <img alt="" src=<%= thumb_file %>>
                                <span class="icon-focus"></span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Lightbox -->
    <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery3-8">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <ol class="carousel-indicators">
                        <% @image_files.count.times do |i| %>
                            <li data-app-prevent-settings="" data-target="#lb-gallery3-8" <%= 'class="active"' if i == 0 %> data-slide-to=<%= i %>></li>
                        <% end %>
                    </ol>
                    <div class="carousel-inner">
                        <% @image_files.each_with_index do |image_file, i| %>
                            <div class="carousel-item <%= 'active' if i == 0 %>">
                                <img alt="" src=<%= image_file %>>
                            </div>
                        <% end %>
                    </div>
                    <a class="left carousel-control" role="button" data-slide="prev" href="#lb-gallery3-8">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" role="button" data-slide="next" href="#lb-gallery3-8">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                    <a class="close" href="#" role="button" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 Mixin.</p>
    </div>
</footer>


  <script src="lgtm/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="lgtm/assets/tether/tether.min.js"></script>
  <script src="lgtm/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="lgtm/assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="lgtm/assets/viewport-checker/jquery.viewportchecker.js"></script>
  <script src="lgtm/assets/dropdown/js/script.min.js"></script>
  <script src="lgtm/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="lgtm/assets/masonry/masonry.pkgd.min.js"></script>
  <script src="lgtm/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="lgtm/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
  <script src="lgtm/assets/theme/js/script.js"></script>
  <script src="lgtm/assets/mobirise-gallery/player.min.js"></script>
  <script src="lgtm/assets/mobirise-gallery/script.js"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>
